@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/popins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'Reg-Poppins';
    src: url(./assets/fonts/popins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'header';
    src: url(./assets/fonts/head/AhganiryaPersonalUse-Yznaj.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(./assets/fonts/montserrat/static/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'montserrat-reg';
    src: url(./assets/fonts/montserrat/static/Montserrat-Regular.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;